.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    border:solid 1px ;
    border-color: #4DB7FE;
}
.img-bg{
    background-image: url('../img/depositphotos_23582727-stock-photo-white-studio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}