<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>
<div class="container">
    <h2 class="d-inline mb-5">Tus colecciones</h2>
    <button class="btn btn-dark float-right mb-5" data-toggle="modal" data-target="#modalNewCollection">Crear nueva coleccion</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody id="tableCollection">
          
        </tbody>
      </table>
</div>

<!-- Modal New Collection-->
<div class="modal fade" id="modalNewCollection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear nueva colección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="newCollection">
          <div class="modal-body">
            <div class="form-group">
              <label for="titleCollection">Nombre *</label>
              <input type="text" class="form-control" id="titleCollection" placeholder="Ingresar Nombre *" required>
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="description" placeholder="Ingrese descripcion">
            </div>
            <div class="form-group">
              <label for="description">Selecciona o agrega nuevos tags a tu colección</label>
              <input type="text" class="form-control" id="tag" placeholder="Escriba tag" onInput="keyPressValue('tag','selectTag')">
              <a class="btn btn-primary" id="saveTag" onclick="SelectSaveTag('tag','noSave','save')">Guardar nuevo tag</a>
              <h6 class="text-danger" id="noSave"></h6>
              <h6 class="text-success" id="save"></h6>
              <section id="selectTag" class="form-group">

              </section>
              <div id="labelTags">

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Guardar</button>
          </div>
      </form>  
    </div>
  </div>
</div>


<!-- Modal Edit Collection-->
<div class="modal fade" id="modalEditCollection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar colección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="editCollection">
          <div class="modal-body">
            <div class="form-group">
              <label for="titleCollection">Nombre *</label>
              <input type="text" class="form-control" id="titleCollectionEdit" placeholder="Ingresar Nombre *" required>
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="descriptionEdit" placeholder="Ingrese descripcion">
            </div>
            <div class="form-group">
              <label for="description">Selecciona o agrega nuevos tags a tu colección</label>
              <input type="text" class="form-control" id="tagEdit" placeholder="Escriba tag" onInput="keyPressValue('tagEdit','selectTagEdit')">
              <a class="btn btn-primary" id="saveTagEdit" onclick="SelectSaveTag('tagEdit','noSaveEdit','saveEdit')">Guardar nuevo tag</a>
              <h6 class="text-danger" id="noSaveEdit"></h6>
              <h6 class="text-success" id="saveEdit"></h6>
              <section id="selectTagEdit" class="form-group">

              </section>
              <div id="labelTagsEdit">

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Guardar</button>
          </div>
      </form>  
    </div>
  </div>
</div>
<script src="../assets/js/collection.js"></script>