<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>

<div class="container-fluid" >
  <div class="row ">
    
 <div class="col-8 separator" id="void">
    <!--video--> 
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-interval="false">
    
      <!--Controls-->
      <div class="controls-top">
        <a class=" btn-floating float-left" href="#multi-item-example" data-slide="prev"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></a>
        <a class="btn-floating float-right" href="#multi-item-example" data-slide="next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></a>
        <h3 class="text-center">Videos</h3>
      </div>
      <!--/.Controls-->
  
    
      <!--Slides-->
      <div class="carousel-inner" role="listbox" id="carousel">
    
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row" id= "carousel-item">
    
          </div>
    
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
      <!--Indicators-->
      <ol class="carousel-indicators bg-secondary position-relative mt-3 w-100 ml-0" id="list">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      </ol>
      <!--/.Indicators-->
    </div>
    <!--Carousel Wrapper-->
    <!--video--> 
    <hr style="height:10px;" >
    <!--canal--> 
    <!--Carousel Wrapper-->
    <div id="multi-item-example-channel" class="carousel slide carousel-multi-item" data-interval="false">
    
      <!--Controls-->
      <div class="controls-top">
        <a class=" btn-floating float-left" href="#multi-item-example-channel" data-slide="prev"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></a>
        <a class="btn-floating float-right" href="#multi-item-example-channel" data-slide="next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></a>
        <h3 class="text-center">Canales</h3>
      </div>
      <!--/.Controls-->
      
      <!--Slides-->
      <div class="carousel-inner" role="listbox" id="carousel-channel">

        <!--First slide-->
        <div class="carousel-item active">
          <div class="row" id= "carousel-item-channel">
    
          </div>
    
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
      <!--Indicators-->
      <ol class="carousel-indicators bg-secondary position-relative mt-3 w-100 ml-0" id="list-channel">
        <li data-target="#multi-item-example-channel" data-slide-to="0" class="active"></li>
      </ol>
      <!--/.Indicators-->
    </div>
    <!--Carousel Wrapper-->
    <!--canal--> 
    <hr>
    <!--playlist--> 
    <!--Carousel Wrapper-->
    <div id="multi-item-example-playlist" class="carousel slide carousel-multi-item" data-interval="false">
    
      <!--Controls-->
      <div class="controls-top">
        <a class=" btn-floating float-left" href="#multi-item-example-playlist" data-slide="prev"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></a>
        <a class="btn-floating float-right" href="#multi-item-example-playlist" data-slide="next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill text-dark" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></a>
        <h3 class="text-center">Listas de reproducción</h3>
      </div>
      <!--/.Controls-->
    
      <!--Slides-->
      <div class="carousel-inner" role="listbox" id="carousel-playlist">
    
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row" id= "carousel-item-playlist">
    
          </div>
    
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
      <!--Indicators-->
      <ol class="carousel-indicators bg-secondary position-relative mt-3 w-100 ml-0" id="list-playlist">
        <li data-target="#multi-item-example-playlist" data-slide-to="0" class="active"></li>
      </ol>
      <!--/.Indicators-->
    
    </div>
    <!--Carousel Wrapper-->
    <!--playlist--> 
    
    
 </div>
  
      <div class="col-4" >
            <h5>Colecciones recomendadas</h5>
            <div class="container" id="void-recomend">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripción</th>
                  </tr>
                </thead>
                <tbody id="collectionRelated">
                  
                </tbody>
              </table>
            </div>
        </div>
  </div>
</div>


<!-- Modal Collection -->
<div class="modal fade" id="modalCollectionEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar metadatos del video</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editVideoCollection">
          <div class="modal-body">  
            <div class="form-group">
              <h6>Puedes elegir el momento donde quieres que empiece y termine el video</h6>
              <label for="startAt">Inicio</label>
              <input type="number" class="form-control" max="" min="0" id="startAt" placeholder="Por favor copie el segundo">
              <label for="endA">Fin</label>
              <input type="number" class="form-control" max="" min="0" id="endAt" placeholder="Por favor copie el segundo ">
            </div>
            <div class="form-group">
              <label for="comment">Comentario</label>
              <input type="text" class="form-control" id="comment" placeholder="Deja un comentario sobre el video" required>
            </div>
            <div class="form-group">
              <label for="description">Selecciona o agrega nuevos tags a tu video</label>
              <input type="text" class="form-control" id="tag" placeholder="Escriba tag" onInput="keyPressValue('tag','selectTag')">
              <a class="btn btn-primary" id="saveTag" onclick="SelectSaveTag('tag','noSave','save')">Guardar nuevo tag</a>
              <h6 class="text-danger" id="noSave"></h6>
              <h6 class="text-success" id="save"></h6>
              <section id="selectTag" class="form-group">

              </section>
              <div id="labelTags">

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  

<!-- Modal Collection playList-->
<div class="modal fade" id="modalCollectionPlaylistEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar metadatos del playList</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editPlayListCollection">
          <div class="modal-body">   
            <div class="form-group">
              <label for="comment">Comentario para la playList</label>
              <input type="text" class="form-control" id="commentPlaylist" placeholder="Deja un comentario sobre el video" required>
            </div>
            <div class="form-group">
              <label for="description">Selecciona o agrega nuevos tags a tu  playList</label>
              <input type="text" class="form-control" id="tagEditPlaylist" placeholder="Escriba tag" onInput="keyPressValue('tagEditPlaylist','selectTagEditPlaylist')">
              <a class="btn btn-primary" id="saveTagEditPlaylist" onclick="SelectSaveTag('tagEditPlaylist','noSaveEditPlaylist','saveEditPlaylist')">Guardar nuevo tag</a>
              <h6 class="text-danger" id="noSaveEditPlaylist"></h6>
              <h6 class="text-success" id="saveEditPlaylist"></h6>
              <section id="selectTagEditPlaylist" class="form-group">
  
              </section>
              <div id="labelTagsEditPlaylist">
  
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  
<!-- Modal Collection channel-->
<div class="modal fade" id="modalCollectionChannelEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar metadatos del canal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="editChannelCollection">
        <div class="modal-body">   
          <div class="form-group">
            <label for="comment">Comentario para el canal</label>
            <input type="text" class="form-control" id="commentChannel" placeholder="Deja un comentario sobre el video" required>
          </div>
          <div class="form-group">
            <label for="description">Selecciona o agrega nuevos tags a tu  playList</label>
            <input type="text" class="form-control" id="tagEditChannel" placeholder="Escriba tag" onInput="keyPressValue('tagEditChannel','selectTagEditChannel')">
            <a class="btn btn-primary" id="saveTagEditChannel" onclick="SelectSaveTag('tagEditChannel','noSaveEditChannel','saveEditChannel')">Guardar nuevo tag</a>
            <h6 class="text-danger" id="noSaveEditChannel"></h6>
            <h6 class="text-success" id="saveEditChannel"></h6>
            <section id="selectTagEditChannel" class="form-group">

            </section>
            <div id="labelTagsEditChannel">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="../assets/js/collectionResource.js"></script>