<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>
<div class="container">
    <h2 class="d-inline mb-5">Tus colecciones</h2>
    <button class="btn btn-dark float-right mb-5" data-toggle="modal" data-target="#modalNewCollection">Crear nueva coleccion</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripci贸n</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody id="tableCollection">
          
        </tbody>
      </table>
</div>

<!-- Modal Collection-->
<div class="modal fade" id="modalNewCollection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear nueva colecci贸n</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="newCollection">
          <div class="modal-body">
            <div class="form-group">
              <label for="titleCollection">Nombre *</label>
              <input type="text" class="form-control" id="titleCollection" placeholder="Ingresar Nombre *" required>
            </div>
            <div class="form-group">
              <label for="description">Descripci贸n</label>
              <input type="text" class="form-control" id="description" placeholder="Ingrese descripcion">
            </div>
            <div class="form-group">
              <label for="description">Selecciona o agrega nuevos tags a tu colecci贸n</label>
              <input type="text" class="form-control" id="tag" placeholder="Escriba tag" onInput="keyPressValue()">
              <a class="btn btn-primary" id="saveTag">Guardar nuevo tag</a>
              <h6 class="text-danger" id="noSave"></h6>
              <h6 class="text-success" id="save"></h6>
              <section id="slectTag" class="form-group">

              </section>
              <div id="labelTags">

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Guardar</button>
          </div>
      </form>  
    </div>
  </div>
</div>
<script src="../assets/js/collection.js"></script>