<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>

<body style="background-color: #F9F9F9;" >
    <div class="container mt-5">
        <div class="row" id="list-of-videos">
           
        </div>

    </div>
</body>
<script src="../assets/js/listVideos.js"></script>
