<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>
<%-include('./layouts/modalLibrary.ejs')%>
<%-include('./layouts/modalPlaylist.ejs')%>
<body style="background-color: #F9F9F9;" >
    <div class="container mt-5">
        <div class="row" id="list-of-videos">
           
        </div>

    </div>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/-PSPW8oe_08?start=240&end=245" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
<script src="../assets/js/listVideos.js"></script>
