<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>

<body class="bg-dark">
    <div class="container mt-5">
        <div class="row" id="list-of-videos">
           
        </div>

    </div>
</body>

