<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="../../node_modules//@popperjs/core/dist/cjs/popper.js">
    <link rel="stylesheet" href="../../node_modules/jquery/dist/jquery.min.js">
</head>
<body style="background: white;">
    <H1>Hola alejandro! malparido!</H1>
    <h1>Hello World!</h1>
    <p>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.
        <%- include('./layouts/login.ejs') %>

    </p>
</body>
</html>