    <%-include('./layouts/main.ejs')%>
  <div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Youtube Academico</h3>
                            <p class="text-muted mb-4">Admministra, crea y encuentra tus playlist con la mayor facilidad.</p>
                                <div class="col-md-12 mt-5"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline line rounded-pill shadow-sm" id="logginbtn" href="#" ><img src="src/../../assets/img/google-icon.svg" class="img-fluid" width="25px" height="25px"> &nbsp Ingresar</a> </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
<script src="../assets/js/auth.js"></script>