<%-include('./layouts/main.ejs')%>

    <body class="img-bg">
        <div class="container mt-5">
            <img src="src/../../assets/img/YoutubeLogos.png" class="img-fluid" alt="...">
            <div class="container">
                <h5 class="mt-5 text-center">Card title</h5>
                <p class="card-text mt-4 text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline line" id="logginbtn" href="#"><img src="src/../../assets/img/google-icon.svg" class="img-fluid" width="25px" height="25px"> INGRESA USANDO GOOGLE</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="./home.ejs" class="btn btn-danger">Cambiar</a> -->
    </body>
    <script src="../assets/js/auth.js"></script>