<%-include('./layouts/main.ejs')%>
<%-include('./layouts/nav-bar.ejs')%>
<%-include('./layouts/modalLibrary.ejs')%>
<%-include('./layouts/modalPlaylist.ejs')%>

<body style="background-color: #F9F9F9;" >
    <div class="container mt-5">
        <div class="row" id="result">
           
        </div>

    </div>

</body>
<script src="../assets/js/search.js"></script>
