<div class="container">
    <p class="dysplay-6">Video</p>
    <iframe width="560" height="315" src="" id="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script src="../assets/js/video.js"></script>